.container {
    border: 3px solid #0f0;
}
.input {
    color: #f00;
    background: #f00;
    border: 3px solid #0f0;
}
.suggestionsContainer {
    border: 3px solid #0f0;
}
.suggestion {
    border: 3px solid #0f0;
}
.suggestionHighlighted {
    border: 3px solid #0f0;
}

.search-box {
    display: flex;
    flex-direction: row;
    color: #444;
}

.search-box button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
#react-autowhatever-1 {
    position: fixed;
    top: 60px;
    width: 450px;
    background: white;
}

.search-box li {
    list-style: none;
}

.search-box input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border: 2px solid #eee;
    width: 400px;
    outline-color: rgb(28,98,185);
    /*outline: none;*/
    float: left;
}

.search-box input[type=text]:focus {
    border: none;
    border: 2px solid #eee;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 1);*/

}



@media only screen and (min-width : 320px) {
    .search-box input[type=text] {
        width: 200px;
    }
    #react-autowhatever-1 {
        width: 100%;
        left: 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .search-box input[type=text] {
        width: 400px;
    }

    #react-autowhatever-1 {
        width: 450px;
    }

}


/* Loader */

.spinner {
    /*margin: 100px auto;*/
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

/* End Loader */


